Source: sakura
Section: x11
Priority: optional
Maintainer: Andrew Starr-Bochicchio <a.starr.b@gmail.com>
Uploaders: Andrew Lee <ajqlee@debian.org>, Norbert Preining <preining@debian.org>
Build-Depends:	debhelper (>= 7.0.50~),
		cmake,
		perl,
		libgtk2.0-dev (>= 2.16),
		libvte-dev (>= 1:0.26)
Standards-Version: 3.9.1
Vcs-Git: git://git.debian.org/git/collab-maint/sakura.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/sakura.git;a=summary
Homepage: http://www.pleyades.net/david/sakura.php

Package: sakura
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: x-terminal-emulator
Description: simple but powerful libvte-based terminal emulator
 Sakura is a terminal emulator based on GTK+ and VTE. It's a
 terminal emulator with few dependencies, so you don't need a
 full GNOME desktop installed to have a decent terminal emulator.
